{% extends "layout.html" %}

{% block heading %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4"> Theta: {{ theta }} </div>
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
    </div>
</div>

<div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">{{ question }}</div>
      <div class="panel-body">
        <form action="{{ url_for('demo') }}" method="post">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="radioAnswer1" value="option1" checked>
                <label class="form-check-label" for="radioAnswer1">{{ choice1 }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="answer" id="radioAnswer2" value="option2">
                <label class="form-check-label" for="radioAnswer2">{{ choice2 }}</label>
            </div>
            <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
