{% extends "layout.html" %}

{% block body %}
<body>
  <div class="container">
    <div class="row">
      <div id="controls">
        <div class="col-md-2">
          <button id="recordButton" type="submit" class="btn btn-primary">Record</button>  
        </div>
        <div class="col-md-2">
          <button id="pauseButton" type="submit" class="btn btn-primary">Pause</button>  
        </div>
        <div class="col-md-2">
          <form action="{{ url_for('pronounciation') }}" method="POST">
            <button id="stopButton" type="submit" class="btn btn-primary">Stop</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div id="formats"></div>
      <p><strong>Recordings:</strong></p>
      <ol id="recordingsList"></ol>
    </div>
  </div>

  <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  <script src="{{ url_for('static', filename = 'pronounciation.js') }}"></script>
</body>
{% endblock %}
